@use "../../styles/variables" as variable;
@use "../../styles/mixins" as mixin;

.mobileNavBar {
  display: none;

  @include mixin.mobile() {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 0;
    background-color: variable.$color-primary-light;
  }
}
