// Colors for fonts
$color-primary: #ffc404;
$color-primary-light: #fff0c0;
// Colors for backgrounds
$color-primary-item-background: #312c1d;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;

// Main font
$font-main: "Ringbearer", sans-serif;