@use "../../styles/variables" as variable;
@use "../../styles/mixins" as mixin;

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-top: 3rem;
  

  button {
    background-color: variable.$color-primary;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;

    @include mixin.mobile() {
      font-size: 1rem;
      padding: 0.4rem 0.7rem;
      border-radius: 0.7rem;

    }
  }

  .buttonClearCart {
    background-color: transparent;
    border: 1px solid variable.$color-primary;
    color: variable.$color-primary;
  }

  @include mixin.mobile() {
    font-size: 1rem;
    justify-self: flex-end;
  }
}