/* reset.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


button {
  font-size: 2rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}